
.navbar {
    background: none;
  }

body {
  color: white;
  background-color: black;
}
hr {
  padding: 2px;
}

.celeste {
  background-color: #0dcaf0;
  border-color: #0dcaf0;
}

.iconoFooter {
  text-decoration: none;
  color: white;
}

.iconoFooter:visited {
  color: white;
}

a {
  color: white;
}

a:visited {
  color: white;
}