/* variables de los colores */
:root {
  --color-uno:rgb(54, 64, 55);
  --color-dos:rgb(152, 108, 67);
  --color-tres:rgb(244,222,201);
} 

body {
  font-family: 'Source Sans Pro', sans-serif;
  position: relative;
}

h5, h4 ,h3 {
  font-weight: 700;
}

p {
  font-weight: 400;
}

hr {
  padding: 2px;
  color: var(--color-uno);
}

.combinacionColor1, .sobre:hover {
  background-color: var(--color-uno);
  color: var(--color-tres);
}

.combinacionColor2 {
  background-color: var(--color-dos);
  color: var(--color-tres);
}

.sobre:hover {
  color: var(--color-dos)
}

a {
  text-decoration: none;
  color: var(--color-tres);
}

a:active{
  color: var(--color-tres);
}

a:hover  {
  color: var(--color-uno)
}
